<div>
    @foreach(var manager in Model)
            {
                <h1>@manager.FirstName</h1>
                <p>
                    @manager.FirstName @manager.LastName <br />
                    @manager.Devision
                </p>
            }
</div>

